/* Main Stylesheet - Imports all component stylesheets */
@import url('styles/variables.css');
@import url('styles/header.css');
@import url('styles/hero.css');
@import url('styles/products.css');
@import url('styles/forms.css');
@import url('styles/footer.css');
@import url('styles/responsive.css');
