/* Hero Section */
.sidebar-menu a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 8px 0;
  font-size: 15px;
  transition: 0.3s;
}
.sidebar-menu a:hover {
  color: var(--primary-color);
  padding-left: 5px;
}
.hero-banner {
  padding: 40px;
  overflow: hidden;
  height: 400px;
  position: relative;
}
.hero-banner .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-banner .swiper-pagination-bullet {
  background: #808080;
  opacity: 0.5;
  width: 12px;
  height: 12px;
  margin: 0 6px !important;
}
.hero-banner .swiper-pagination-bullet-active {
  background: var(--primary-color);
  opacity: 1;
  border: 2px solid #fff;
  width: 14px;
  height: 14px;
}
.hero-image-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Section Headings */
.section-tag {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 15px;
}
.section-tag::before {
  content: "";
  width: 20px;
  height: 40px;
  background: var(--primary-color);
  display: inline-block;
  margin-right: 10px;
  border-radius: 4px;
}
.section-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

/* Page Hero */
.page-hero {
  padding: 40px 0;

}
.page-hero h1 {
  font-weight: 600;
  margin-bottom: 10px;
}
.breadcrumb {
  color: var(--text-gray);
  font-size: 14px;
  margin-bottom: 0;
}

